body{
  background-color: #EAF6F6;
}
hr{
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 30%
}
h1{
  color: #35589A
}
h2{
  color: #6998AB
}
h3{
  color: #6998AB
}
