body {
  font-family: sans-serif;
  border: 1px solid black;
  background-color: whitesmoke;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
.nameHeading {
  display: inline-block;
  position: absolute;
  margin: 10% 10% 10% 5%;
}
.aboutMe {
  margin: 2% auto auto auto;
  text-align: center;
  padding: 2%;
  border: 1px dotted gray;
  border-width: 6px;
}
.aboutMe:hover {
  background-color: black;
  color: white;
  padding: 2%;
  border: 1px dotted white;
  border-width: 6px;
}
.indexParagraph {
  text-align: center;
}
.table {
  margin-left: auto;
  margin-right: auto;
}
.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.button:hover {
  background-color: red;
}
/* hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 6px;
  width: auto;
} */
.vesika {
  border-radius: 100%;
  margin: 2% auto auto auto;
}
